<!DOCTYPE html>
<!--
  Le site web Étymobio, version Firebase.
  https://etymobio.fr

  Copyright (C) 2016 Florent Gallaire <fgallaire@gmail.com>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU Affero General Public License for more details.
-->
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Étymobio</title>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  </head>
  <body>
    <div id="app">
      <h1><router-link :to="{ path: '/' }">Étymobio</router-link></h1>
      <h2>L'étymologie de la biologie !</h2>
      <router-view :mots=mots :racines=racines></router-view>
      <a href="https://github.com/Etymobio/etymobio-base" target="_blank">Base de données</a> © 2016
      <a href="https://twitter.com/lignedescience" target="_blank">Fabienne Gallaire</a>
      <br/>
      <a href="https://github.com/Etymobio/etymobio-firebase" target="_blank">Site web</a> © 2016
      <a href="https://f.gallai.re" target="_blank">Florent Gallaire</a>
    </div>
    <script>

var mots = new Firebase('https://etymobio.firebaseio.com/mots')
var racines = new Firebase('https://etymobio.firebaseio.com/racines')

var Root = Vue.extend({
    props: ['mots', 'racines'],
    template: '<div>' +
              '<router-link :to="{ path: \'/mots\' }"><h3>Les mots :</h3></router-link>' +
              '<liste-mots :mots=mots></liste-mots>' +
              '<router-link :to="{ path: \'/racines\' }"><h3>Les racines :</h3></router-link>' +
              '<liste-racines :racines=racines></liste-racines>' +
              '</div>'
})

var Mots = Vue.extend({
    props: ['mots'],
    template: '<div>' +
              '<h3>Les mots :</h3>' +
              '<liste-mots :mots=mots></liste-mots>' +
              '<router-link :to="{ path: \'/racines\' }">Les racines</router-link>' +
              '<br/>' +
              '<br/>' +
              '</div>'
})

var ListeMots = Vue.extend({
    props: ['mots'],
    template: '<div>' +
              '<ul>' +
                '<li v-for="mot in mots">' +
                  '<router-link :to="{ name: \'mot\', params: { mot: mot.nom }}">{{ mot.nom }}</router-link>' +
                '</li>' +
              '</ul>' +
              '</div>'
})

Vue.component('liste-mots', ListeMots)

var Racines = Vue.extend({
    props: ['racines'],
    template: '<div>' +
              '<h3>Les racines :</h3>' +
              '<liste-racines :racines=racines></liste-racines>' +
              '<router-link :to="{ path: \'/mots\' }">Les mots</router-link>' +
              '<br/>' +
              '<br/>' +
              '</div>'
})

var ListeRacines = Vue.extend({
    props: ['racines'],
    template: '<div>' +
              '<ul>' +
                '<li v-for="racine in racines">' +
                  '<router-link :to="{ name: \'racine\', params: { racine: racine.nom }}">{{ racine.nom }}</router-link>' +
                '</li>' +
              '</ul>' +
              '</div>'
})

Vue.component('liste-racines', ListeRacines)

var Mot = Vue.extend({
    props: ['mots'],
    template: '<div>' +
              '<div v-for="mot in mots">' +
                '<div v-if="mot.nom === $route.params.mot">' +
                  '<h3>Le mot {{ $route.params.mot }} a {{ mot.racines.length }} racine<a v-if="mot.racines.length > 1">s</a> :</h3>' +
                  '<ul>' +
                    '<li v-for="racine in mot.racines">' +
                      '<router-link :to="{ name: \'racine\', params: { racine: racine }}">{{ racine }}</router-link>' +
                    '</li>' +
                  '</ul>' +
                '</div>' +
              '</div>' +
              '<router-link :to="{ path: \'/mots\' }">Les mots</router-link>' +
              '<br/>' +
              '<br/>' +
              '</div>'
})

var Racine = Vue.extend({
    props: ['racines'],
    template: '<div>' +
              '<div v-for="racine in racines">' +
                '<div v-if="racine.nom === $route.params.racine">' +
                  '<h3>La racine {{ $route.params.racine }} :</h3>' +
                  '<ul>' +
                    '<li v-if="racine.langue">' +
                      'Langue : {{ racine.langue }}' +
                    '</li>' +
                    '<li v-if="racine.signification">' +
                      'Signification : {{ racine.signification }}' +
                    '</li>' +
                    '<li v-if="racine.categorie">' +
                      'Catégorie : {{ racine.categorie }}' +
                    '</li>' +
                  '</ul>' +
                '</div>' +
              '</div>' +
              '<router-link :to="{ path: \'/racines\' }">Les racines</router-link>' +
              '<br/>' +
              '<br/>' +
              '</div>'
})

var E404 = Vue.extend({
    template: "<p>Cette page n'existe pas</p>"
})

// Set { mode: 'history' } for history mode when using a server
var router = new VueRouter({ mode: 'hash', routes: [
    { path: '*', component: E404 },
    { path: '/', component: Root },
    { path: '/mots', component: Mots },
    { path: '/racines', component: Racines },
    { path: '/mot/:mot', name: 'mot', component: Mot },
    { path: '/racine/:racine', name: 'racine', component: Racine }
    ]
})

new Vue({
    el: '#app',
    router: router,
    firebase: {
        mots: mots,
        racines: racines
    }
})

    </script>
  </body>
</html>
